@tailwind base;
@tailwind components;
@tailwind utilities;

.parentContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  margin-top: 25px;
}

.childContainer{
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  font-weight: 900;
  width: fit-content;
  height: 250px;
  margin-left: 25px;
}

.heading{
  font-size: 70px;
  font-weight: 900;
  margin-left: 20px;
  color: green;
}

.colour{
  color: chartreuse;
}

.header{
  background-color: aqua;
}

.header-buttons{
  gap: 40px;
  display: flex;
  justify-content: center;
  padding: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

.footer{
  background-color: aqua;
}

.footer-buttons{
  display: flex;
  gap: 40px;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  padding: 25px;
  font-weight: 200;
}